body{
    margin: 0;
    padding: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,81,121,1) 50%, rgba(0,212,255,1) 100%);

    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}
.MenuTrai{
    display: flex;
    margin-top: 25px;
    margin-left: 150px;
}
.abc{
    margin-left: 50px;
    margin-top: 20px;
    font-size: 17px;
    font-style: bold;
    text-decoration: none;
    color: aliceblue;
}
.abc:hover{
    color: #1389ca;
    scale: 1.5;
}
.NoiDung{
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    margin-left: 66px;
    margin-top: 40px;
    width: 90%;
    height: 650px;
    background: rgb(31,140,196);
    background: linear-gradient(90deg, rgba(31,140,196,0.3786764705882353) 0%, rgba(134,184,30,0.29744397759103647) 100%);
}
.noidung1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    border-radius: 7px;
    margin-left: 66px;
    margin-top: 40px;
    width: 90%;

}
.noidung2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    border-radius: 7px;
    margin-left: 66px;
    margin-top: 50px;
    width: 90%;
}
.ND{
    position: absolute;
    left: 35px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
}
.pictureGame{
    width: 400px;
    height: 250px;
    transition: 0.5s;
    
}
.pictureGame1{
    width: 60px;
    height: 60px;
    border-radius: 5px;
}
.game{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
    width: 400px;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.game:hover .pictureGame{
    scale: 1.1;
}